<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<property name="BASE_LOG_PATH" value="/o2o/logs/ssm/" />

	<!-- warn -->
	<appender name="warn_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<File>${BASE_LOG_PATH}/warn/warn.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %p| %m%n%rEx</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${BASE_LOG_PATH}/warn/warn.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
	</appender>

	<!-- info -->
	<appender name="info_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<File>${BASE_LOG_PATH}/info/info.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %p| %m%n%rEx</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${BASE_LOG_PATH}/info/info.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
	</appender>
	<!-- error -->
	<appender name="error_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>error</level>
		</filter>
		<File>${BASE_LOG_PATH}/error/error.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %p| %m%n%rEx</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${BASE_LOG_PATH}/error/error.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
	</appender>






	<root level="WARN">
		<appender-ref ref="info_file" />
		<appender-ref ref="warn_file" />
		<appender-ref ref="error_file" />
	</root>

	<logger name="org.apache.zookeeper" level="ERROR" />
	<logger name="org.apache.commons.httpclient" level="ERROR" />
	<!-- spring -->
	<logger name="org" level="ERROR" />
	<logger name="org.springframework.web" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />

	<!-- mybatis -->
	<logger name="org.apache.ibatis.jdbc.ScriptRunner" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />

</configuration>


