<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.sky.mybatis.mapping.commodityMapper">

    <!-- <select id="getCommodity" parameterType="int" resultMap="queryForListMap"> -->
    <select id="getCommodity" parameterType="int"
            resultType="cn.com.sky.mybatis.domain.Commodity">
		SELECT
		d.rebate_ratio AS rebate_ratio,
		d.id AS plan_id,
		t.id
		AS item_id,
		t.name
		AS item_name,
		d.merchant_scopes AS shop_no
		FROM
		t_rebate_plan_commodity
		t,
		t_rebate_plan d
		WHERE
		t.plan_Id = d.id
		AND
		t.flow = 14
		AND t.status = - 1
		AND t.type = 6
	</select>


</mapper>