<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--读取全局配置  -->
    <!--<util:properties id="settings" location="classpath:settings.properties"/>-->


    <!--<util:properties>可用于注入Properties对象，也可以用于读取properties文件-->


    <!--<util:properties id="prop">-->
    <!--<prop key="name">zhangsan</prop>-->
    <!--<prop key="age">age</prop>-->
    <!--<prop key="gender">gender</prop>-->
    <!--</util:properties>-->
    <!--<bean id="phone" class="cn.com.sky.spring.util_properties.Phone">-->
    <!--<property name="properties" ref="prop"/>-->
    <!--</bean>-->

    <!--通过读取文件获取内容-->
    <util:properties id="prop" location="classpath:prop.properties"/>
    <bean id="phone" class="cn.com.sky.spring.util_properties.Phone">
        <property name="properties" ref="prop"/>
    </bean>

</beans>