<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 配置bean -->
	<bean id="userDao" class="cn.com.sky.spring.aop.annotation.UserDaoImpl" />

	<!-- 通知 -->
	<!-- <bean id="myAdvice" class="cn.com.sky.spring.aop.annotation.MyAdvice" 
		/> <bean id="myAdvice2" class="cn.com.sky.spring.aop.annotation.MyAdvice2" 
		/> -->
	<!-- <bean id="myAdvice3" class="cn.com.sky.spring.aop.annotation.MyAdvice3" 
		/> <bean id="myAdvice4" class="cn.com.sky.spring.aop.annotation.MyAdvice4" 
		/> <bean id="myAdvice5" class="cn.com.sky.spring.aop.annotation.MyAdvice5" 
		/> -->

	<bean id="myAdvice7" class="cn.com.sky.spring.aop.annotation.MyAdvice7" />



	<!-- 是<aop:aspectj-autoproxy />的实际背后实现，与之效果相同 -->
	<!-- <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"></bean> -->

	<!-- 通过<aop: aspectj-autoproxy>来配置，使用AspectJ的注解来标识通知及切入点,推荐方式 -->
	<aop:aspectj-autoproxy />
</beans>