<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="methodExecListener"
          class="cn.com.sky.spring.spring_event.spring_event.MethodExecutionEventListener"></bean>

    <bean id="evtPublisher" class="cn.com.sky.spring.spring_event.spring_event.MethodExeuctionEventPublisher"></bean>

</beans>